<% provide(:title, "Contact") %>
<h1>Contact</h1>
<nav>
  <div id="navbar">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/eightball">Eight Ball</a></li>
    </ul>
  </div>
</nav>
<p>Contact page</p>
