<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= stylesheet_link_tag "basic_navigation" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
